/* 📱 Para celulares */
@media (max-width: 768px) {

    .logo h1 {
        font-size: 1.5rem;
        padding: 10px;
    }

    .navbar a {
        float: left;
        font-size: 1.2rem;
        padding: 10px;

    }


    .main1 {
        margin: 10px;
    }

    .main1 img {
        max-width: 100%;
        height: auto;
    }

    #demo {
        font-size: 1rem;
        margin-left: 10px;
        top: 100px;
    }

    .footer h2 {
        font-size: 1.2rem;
        padding: 10px;
    }
}

/* 📱 Tablets */
@media (max-width: 1024px) {

    .navbar a {
        font-size: 1.5rem;
        padding: 12px;
    }
    
    .main1 img {
        max-width: 300px;
    }
}