body {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.logo {
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    color: #fff;
    background-color: #299684;
}
.navbar {
    width: 100%;
    height: 120px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    color: #0366b6;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    padding: 17px 17px;
}

.main1 {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main1 img {
    width: 400px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    border-radius: 1rem;
     
}

#demo {
    font-size: 1.2rem;
    color: #0366b6;
    letter-spacing: 0.1rem;
}

.footerr {
    text-align: center;
    width: 100%;
    height: 240px;
    background-color: #299684;
}

.footerr h2 {
    padding-top: 30px;
}